<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student</title>
</head>
<body>
<h1>Add Student</h1>
<form action="#" th:action="@{/students/add}" th:object="${student}" method="post">
    <label>First Name:</label>
    <input type="text" th:field="*{firstname}"/><br/>

    <label>Last Name:</label>
    <input type="text" th:field="*{lastname}"/><br/>

    <label>Age:</label>
    <input type="number" th:field="*{age}"/><br/>

    <label>Email:</label>
    <input type="email" th:field="*{email}"/><br/>

    <button type="submit">Add Student</button>
</form>
</body>
</html>
