<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Student</title>
</head>
<body>
<h1>Edit Student</h1>
<form action="#" th:action="@{/students/edit/{email}(email=${student.email})}" th:object="${student}" method="post">
    <label>First Name:</label>
    <input type="text" th:field="*{firstname}"/><br/>

    <label>Last Name:</label>
    <input type="text" th:field="*{lastname}"/><br/>


    <label>Email:</label>
    <input type="email" th:field="*{email}" readonly/><br/>

    <button type="submit">Update Student</button>
</form>
</body>
</html>
